[submodule "home/.zprezto"]
	path = home/.zprezto
	url = git@github.com:mather/prezto.git
[submodule "home/.vim/bundle/neobundle.vim"]
	path = home/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
