### Custom

.emacs.d/elisp/
.emacs.d/elpa/
.emacs.d/url/
!.gitkeep

home/.emacs.d/ido.last
home/.emacs.d/places
home/.zlogin
home/.zlogout
home/.zpreztorc
home/.zprofile
home/.zshenv
home/.zshrc

home/.vim/bundle
!home/.vim/bundle/neobundle.vim

### https://raw.github.com/github/gitignore/2e7537454d3a4a129fbf3d8f0fbcd349583d23d0/Global/Vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### https://raw.github.com/github/gitignore/2e7537454d3a4a129fbf3d8f0fbcd349583d23d0/Global/Emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/


